.container {
  margin: 1rem;
}

.movies {
  margin: 4rem 0;
}

.movies__title {
  margin-bottom: 1rem;
  font-size: 2.44rem;
  color: #4361ee;
  text-align: center;
}

.movie__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .movie__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.4rem;
  }
}
